<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
</head>
<body style="padding: 2rem;">
    <h1>Your Post in detail</h1>
    <p>Post id: <%= post.id %></p>
    <div style="background-color: blanchedalmond    ;">
        <p>@ <%= post.username %></p>
        <p><%= post.content %></p>
    </div>
    <a href="http://localhost:8080/posts"> Back to posts</a>
</body>
</html>